.env
venv
node_modules
mock_redis.py
start-services.bat
start-services-fallback.bat
start-simple.bat
install-redis.bat
setup.bat
inventory/mock_redis.py
payment/mock_redis.py
inventory/main_with_fallback.py
payment/main_with_fallback.py
inventory/main_simple.py
payment/main_simple.py
_pycache_
/_pycache_/
pycache
pycache/
__pycache__
__pycache__/
